.hof-page {
  height: 100%;
  overflow: auto;

  .hof-seasons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .hof-season {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 1rem;

      h1{
        text-align: center;
      }
    }
  }
}
