.user-tile {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;

  .user-tile-title {
    display: flex;
  }

  .user-tile-sub-title {
    display: flex;
    flex-direction: row;

    div {
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
      color: whitesmoke;
    }
  }

  .rank-challenger {
    color: #FFD700; /* Or */
  }

  .rank-grand-maitre {
    color: #FFA500; /* Orange foncé */
  }

  .rank-master {
    color: #FF8C00; /* Orange */
  }

  .rank-diamant {
    color: #87CEEB; /* Bleu clair */
  }

  .rank-platine {
    color: #B0C4DE; /* Bleu pâle */
  }

  .rank-argent {
    color: #C0C0C0; /* Argent */
  }

  .rank-bronze {
    color: #CD7F32; /* Bronze */
  }

  .rank-fer {
    color: #A52A2A; /* Marron foncé */
  }

  .rank-wood {
    color: #8B4513; /* Marron */
  }

}
