@use "../variables" as *;

#sub-header {
  display: flex;
  align-items: center;
  height: $sub-height-header;
  border-bottom: $separator;
  background: $background;
  color: #e3ebf2;

  .sub-header_actions {
    display: flex;
    height: 100%;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;

  }

  .search-input {
    margin: 0 auto;
    padding: 1rem;
  }

  .section_name {
    a {
      margin-left: 0.5rem;
      text-decoration: none;
      color: whitesmoke;
    }
  }

  .header_actions {
    display: flex;
    height: 100%;
    margin: 0 auto;

    .header_action {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 $spacer-5;

      // todo : rename la class
      .user-tile-with-season {
        display: flex;
        flex-direction: column;
      }

    }
  }
}



